body {background-color: #fff;margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;font-family: 'Roboto', sans-serif;-webkit-font-smoothing: antialiased;}
a {text-decoration:none;}
header { background:#fff; width:100%; top:0; border-bottom:1px solid #e1e1e1;height:80px;line-height:80px;}
#color_1 {text-decoration:line-through;color:#6a7278;}
#color_2{color:#34b965;}
#wrap {width:960px;margin:0 auto;text-align:center;}
#hed {font-family:din, sans-serif;;font-size:40px;}
#logo {float:left;font-size:24px;text-decoration: none;color:#000;}
#logo a{color:#000;}
#logo a:hover { color:#f84642;}
#phone {float:right;}
#pone {height:560px; background:url("fone1.jpg") no-repeat;text-align:center;overflow:hidden;padding:30px;border-bottom:1px solid #e1e1e1;}
#pone span {font-size:36px;line-height:1.1;font-weight:300;background:#fff;padding:10px;opacity:0.7;}
#carousel img{max-height:350px;}
#but_pref { background:#fff;}
#but_next{ background:#fff;}
#form {width: 300px;background: #fff;position: relative;height:500px;z-index: 4;float: right;font-size:14px;border:1px #34b965 solid;}
#acia {width:300px;height:150px;background:#34b965;}
#form span {font-size:14px;line-height:1.1;font-weight:300;}
#podd {overflow:hidden;}
#pod {padding:40px;background:#fff;margin:20px 0;font-size:25px;overflow:hidden;-moz-border-radius: 10px;
-webkit-border-radius: 10px;border-radius:10px;}
#pod a {padding:20px;margin:20px;}
#pod span {color:#34b965;}
#kup {background:#eceef1;padding:30px;overflow:hidden;}
#kata {background:#bcc3ce;padding-bottom:30px;}
#har {background:#bcc3ce;padding-top:30px;overflow:hidden;}
#hark {height:43px;text-align:center;font-size:20px;color:#fff;background:url("har.png") no-repeat;margin:0 auto;width:728px;line-height:43px;}
#hark1 {background: #fff;
border-radius: 15px 15px 0 0 ;
padding: 30px;
position: relative;
z-index: 10;
-webkit-box-shadow: 0 0 180px 179px rgba(255,255,255,.3);
box-shadow: 0 0 180px 179px rgba(255,255,255,.3);
overflow:hidden;
}
#two_col {display: table;width: 80%;margin-left: 10%;overflow:hidden;height:300px;}
#sk {width:280px;font-size:14px;margin-top:30px;background: #d9e0e5;
border-radius: 15px ;
padding: 30px;
position: relative;
z-index: 10;
height:150px;
overflow:hidden;float:left;margin:20px;}
#sk span {font-size:30px;} 
#could{font-size:60px;}
#num {float:left;width:400px;padding:20px;text-align:left;}
#num span {background:#34b965;padding:10px 15px;color:#fff;float:left;margin-right:20px;}
#katalog {background:#fff;width:960px;overflow:hidden;}
#katalog img {float:left;width:25%;}
#vid {height:500px;background:url("fone2.jpg") no-repeat;padding:30px;}
#vib {color:#fff;float:left;margin-top:50px;font-weight:300;font-size:25px;text-align:left;}
#vib span {font-size:30px;}
#vibr {background: #2c3031;padding:40px;overflow:hidden;border-bottom: 1px solid #e1e1e1;}
#chas {height:340px;width:215px;float:left;margin-left:15px;background:#e9f3f4;border: 3px #13181c solid;border-top: 3px #2d3134 solid;font-size:12px;margin-top:15px;}
#topp {height:35px;background:url("topbg.jpg")repeat-x;}
#price {color:#bbbbbb;text-decoration:line-through;font-size:20px;text-align:right;line-height:30px;height:40px;position:absolute;margin-top:-40px;background:url("botbg.jpg")repeat-x;width:215px;opacity:0.95;}
#price span {color:#34b965;  width:100; height:40px;float:left;font-size:26px;line-height:40px;position:absolute;margin-left: -205px;text-align:center;}
#oldpr {float:right;margin-right:40px;line-height:40px;text-decoration:line-through;}
#chas a {
padding:10px 20px;

outline: 0;border: 0;margin-top: 1px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;width: 250px;height: 50px;color: #FFF;
font-weight: bold;
font-size: 15px;
font-family: 'Roboto',Helvetica,Arial;
-webkit-font-smoothing: antialiased;
text-transform: uppercase;
background-color: #f84642;
-moz-appearance: none;
-webkit-appearance: none;
-o-appearance: none;
appearance: none;}
#two_col a {
padding:10px 20px;

outline: 0;border: 0;margin-top: 1px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;width: 250px;height: 50px;color: #FFF;
font-weight: bold;
font-size: 15px;
font-family: 'Roboto',Helvetica,Arial;
-webkit-font-smoothing: antialiased;
text-transform: uppercase;
background-color: #f84642;
-moz-appearance: none;
-webkit-appearance: none;
-o-appearance: none;
appearance: none;}
#chas a:hover {background:#ff9069;}
.pole {width: 250px;height: 50px;line-height: 16px;font-size: 16px;font-weight: normal;border-radius: 3px;--webkit-border-radius: 3px;border: 1px solid #e2e2e2;margin: 0 0 8px 0;padding: 10px;outline: 0;-webkit-font-smoothing: antialiased;}
.typ {padding-top:10px;}
.but {outline: 0;border: 0;margin-top: 1px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;width: 250px;height: 50px;color: #FFF;
font-weight: bold;
font-size: 15px;
font-family: 'Roboto',Helvetica,Arial;
-webkit-font-smoothing: antialiased;
text-transform: uppercase;
background-color: #f84642;
-moz-appearance: none;
-webkit-appearance: none;
-o-appearance: none;
appearance: none;}
.but:hover {background:#ff6b68;}
#otziv{background:url("fone3.jpg") repeat-y;overflow:hidden;}
#otziv .block {
display: inline-block;
width: 248px;

border-radius: 7px;
border: 1px solid #d2d2d2;
border-top: none;
border-bottom: 1px solid #979696;
background: #f9f9f9 url("love.png") no-repeat center top;
vertical-align: top;
padding: 0 15px 15px;
margin: 115px 20px 0;
float:left;
}
#otziv  .block img {
margin-top: -75px;
border-radius:50%;
border:2px #f84642 solid;
}
.text {
font: 14px 'din', sans-serif;
color: #4a4a4a;
margin: 10px 0 15px;
text-align: left;
}